---
env:
  es6: true
  mocha: true
  node: true

extends: eslint:recommended

root: true

rules:
  brace-style: [2, 1tbs, {"allowSingleLine": false}]
  comma-dangle: [2, never]
  comma-spacing: [2, {"before": false, "after": true}]
  comma-style: [2, last]
  eol-last: 2
  handle-callback-err: [2, "^(err|error)$"]
  indent: [2, 2]
  no-multiple-empty-lines: 2
  no-trailing-spaces: 2
  one-var: [2, {"uninitialized": "always", "initialized": "never"}]
  quotes: [2, single, avoid-escape]
  semi: [2, always]
  space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
  strict: [2, global]
  yoda: [2, never]
...
