body {
  background-color: rgb(74, 155, 230);
}

h1 {
  color: red;
}

.navbar-default {
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-color: #dedede;
}

  // background-color: #28D073;
