// Header Styles

.navbar-default {
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-color: #dedede;
}

.navbar-brand {
  color: #28D073 !important;
}

// Footer styles

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #dedede;
}

// Global styles

body {
  background-color: #f1f1f1;
}

// Font Styles
