nav(class='navbar navbar-default navbar-fixed-top')
  div(class='container')
    div(class='navbar-left')
      div(class='navbar-header')
        a(class='navbar-brand', href='#') AtMeBro
      div(id='navbar', class='navbar-left')
        ul(class='nav navbar-nav')
          li(class='active')
            a(href='#') <i class='fa fa-home'></i> Home
          li
            a(href='#') <i class='fa fa-bell'></i>  Notifications
          li
            a(href='#') <i class='fa fa-envelope'></i> Messages
    div(class='navbar-right')
       div(class='container-fluid')
        button(class='btn btn-default navbar-btn') Sign Out
